{% extends 'base.html.twig' %}



{% block title %}New Team{% endblock %}

{% block body %}
    <h1>Mon équipe</h1>

    <h2 class="mt-5">Création d'équipe : </h2>

    {{ include('team/_form.html.twig') }}

    <a href="{{ path('search') }}" class="btn btn-primary mt-4">Recherche d'équipe</a>


{% endblock %}
